*{
    margin: 0;
    padding: 0;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* nav part start */

nav .nav-main{
    display: flex;
    position: absolute;
}

nav .logo{
    width: 300px;
}

nav .logo img{
    padding-top: 25px;
}

nav .text{
    width: 900px;
    text-align: right;
}

nav .text ul li{
    display: inline-block;
    padding-left: 58px;
}

nav .text ul li a{
    display: inline-block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 80px;
    transition: all linear .3s;
    position: relative;
}

nav .text a:hover{
    color: #fce38a;
}

nav .text ul li a::after{
    position: absolute;
    width: 0;
    height: 3px;
    background-color: #fce38a;
    bottom: 20px;
    left: 0;
    transform: rotateX(-50%);
    content: "";
    transition: all linear .3s;
}

nav .text a:hover::after{
    width: 100%;
}
/* nav part end */

/* banner part start */

#banner{
    background: url(../images/banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

#banner .banner-overlay{
    background-image: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9));
    width: 100%;
    height: 100%;
}

#banner .text h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 72px;
    color: #fff;
    font-weight: 400;
    padding-top: 150px;
    padding-bottom: 40px;
}

#banner .text h2{
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 140px;
    font-weight: 700;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    padding-bottom: 50px;
}

#banner .text h2::before{
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    content: "";
    transform: translateX(-50%);
}

#banner .bottom{
    padding-top: 50px;
    padding-bottom: 200px;
}

#banner .bottom a{
    display: inline-block;
    border: 3px solid #fff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 30px;
}

/* banner part end */

/* story part start */

#story{
    padding-bottom: 100px;
}

#story .text{
    text-align: center;
}

#story .text h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    padding-top: 90px;
    padding-bottom: 15px;
}

#story .text h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    padding-bottom: 40px;
}

#story .text h2::before{
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    content: "";
    transform: translateX(-50%);
}

#story .text p{
    padding-top: 40px;
    padding-bottom: 90px;
    font-family: 'roboto', sans-serif;
    font-size: 15px;
    color: #999;
    font-weight: 400px;
    line-height: 24px;
    width: 970px;
    margin: 0 auto;
}

#story .story-main{
    display: flex;
    justify-content: space-between;
}

#story .story-sec{
    width: 385px;
    position: relative;
    /* text-align: center; */
}

#story .story-sec img{
    display: block;
}

#story .story-sec .story-overlay{
    background-image: linear-gradient(rgba(243, 129, 129, .9), rgba(252, 227, 138, .9));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all linear .3s;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#story .story-sec:hover .story-overlay{
    opacity: 1;
}

#story .content h5{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
}

#story .story-sec .content img{
    padding-left: 40px;
}

/* story part end */

/* counter part start */

#counter{
    background-color: #95e1d3;
    padding: 60px 0px 60px 0px;
}

#counter .counter-main{
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    padding-right: 25px;
}

#counter .content{
    text-align: center;
}

#counter .content h2{
    font-size: 72px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 10px;
}

#counter .content h5{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}


/* counter part end */

/* service part start */

#service .text-h{
    text-align: center;
}

#service .text-h h4{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    font-weight: 400;
    padding-top: 90px;
    padding-bottom: 15px;
}

#service .text-h h2{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    font-weight: 700;
    padding-left: 80px;
    padding-right: 80px;
    position: relative;
    padding-bottom: 40px;
}

#service .text-h h2::before{
    left: 50%;
    bottom: 0;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    position: absolute;
    content: "";
    transform: translateX(-50%);
}

#service .service-main{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#service .service-sec{
    width: 385px;
    display: flex;
}

#service .service-sec .icon{
    width: 85px;
    padding-left: 30px;
}

#service .service-sec .text{
    width: 300px;
}

#service .service-sec .text h5{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    text-transform: uppercase;
    padding-bottom: 15px;
}

#service .service-sec .text p{
    font-family: 'roboto', sans-serif;
    font-size: 14px;
    color: #999;
    line-height: 24px;
    padding-bottom: 50px;
}
/* service part end */

/* testi part start */

#testi{
    padding: 70px 0;
    background-color: #f8f8f8;
}

#testi .testi-main{
    width: 1030px;
    margin: 0 auto;
    display: flex;
}

#testi .testi-icon{
    width: 230px;
    padding-left: 25px;
}

#testi .testi-text{
    width: 800px;
}

#testi .testi-text p{
    font-family: 'roboto', sans-serif;
    font-size: 24px;
    color: #999;
    font-weight: 400px;
    line-height: 36px;
    padding-bottom: 10px;
}

#testi .testi-text h6::before{
    width: 60px;
    height: 3px;
    background-color: brown;
    left: 0;
    top: 50%;
    content: "";
    position: absolute;
}

#testi .testi-text h6{
    position: relative;
    padding-left: 70px;
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
    font-weight: 400;
}


/* testi part end */